# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
build/
dist/
out/
.next/
.swc/
_static/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
.vercel
.netlify
.unimportedrc.json
tsconfig.tsbuildinfo
.vscode/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend/petrescuehub-4a283c5f7180.json
ProG_BE/petrescuehub-4a283c5f7180.json
